/* Responsive */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
}
/* Responsive */

@media only screen and (max-width: 1199px) {
    
}

/* Medium Devices, Tablet, Mobile */    
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 991px) {

	.menu_triger {
	    display: flex;
	}

	.menu_boxes {
	    display: block;
	    position: absolute;
	    background: #FFFFFF;
	    border-radius: 8px;
	    z-index: 9999999;
	    left: 15px;
	    width: calc(100vw - 30px);
	    top: 0;
	    max-height: calc(100vh - 101px);
	    overflow: hidden;
	    padding: 25px 20px;
	    transition: .1s ease all;
	    opacity: 0;
	    visibility: hidden;
	    box-shadow: 0px 4px 24px rgb(7 17 64 / 10%);
	}

	.nav_brand {
	    margin-right: auto;
	}

	.menu_boxes.active {
	    opacity: 1;
	    visibility: visible;
	    top: 100%;
	}

	.main_menu_area {
	    position: relative;
	}

	.mainMenuBox {
	    margin: 0;
	}

	.main_menu {
	    flex-direction: column;
	    align-items: flex-start;
	    padding-bottom: 25px;
	}

	.main_menu> li {
	    margin: 1px 0;
	}

	.drop_menu {
	    position: unset;
	    opacity: 1;
	    visibility: visible;
	    order: 3;
	    transition: .2s;
	    max-height: 0px;
	    padding: 0px 0;
	    overflow: hidden;
	}

	.have_drop_menu {
		flex-wrap: wrap;
		width: 100%;
	}

	li.have_drop_menu.active ul.drop_menu {
	    max-height: 250px;
	    visibility: visible;
	}

	.main_menu> li:last-child {
		margin-top: 5px;
	}

	.ms-dd .ms-dd-header .option-selected {
		background: #fff;
	}

	.banar_content {
	}

	.banar_content h1 {
	    font-size: 42px;
	}

	.comunityTop p,
	.banar_content p {
	    font-size: 16px;
	}

	body, 
	.alert_text p, 
	.cross_contetn p {
	    font-size: 14px;
	}

	h2 {
	    font-size: 26px;
	}

	.blueBtn, .blueBtn,
	.blueTBtn, .whitBtn, .blackTBtn {
	    font-size: 15px;
	}

	.apiContainRow {
	    padding: 30px 39px 37px 29px;
	}

	.xpNetSecureAreaRow {
	    padding: 30px 30px 30px 30px;
	}

	.roadMapContainRow {
	    padding: 85px 50px 56px 50px;
	    min-height: 464px;
	}

	section.ourComunityArea {
	    padding-bottom: 109px;
	}

	.apiCntent {
	    padding-left: 30px;
	    max-width: 383px;
	}

	.widgetCol.footeRightCo3 {
		padding-left: 15px;
	}

	.ms-dd .ms-options {
	    top: unset;
	    bottom: 100%;
	}


}/*screen and (max-width: 991px)*/
    
@media only screen and (min-width: 426px) and (max-width: 767px) {
   
}
      
@media only screen and (min-width: 768px) {
	.mobiOnly {
		display: none !important;
	}
}
      
@media only screen and (max-width: 767px) {

	.footeRightCol {
		margin: 0;
		padding-left: 0;
	}

	.deskOnly {
		display: none !important;
	}

	.crossChainboxImg {
	    position: unset;
	    display: block;
	    margin: 0 auto;
	    width: 100%;
	}

	.cross_contetn {
	    padding-bottom: 30px;
	    padding-top: 50px;
	}

	.apiContainRow {
	    flex-direction: column-reverse;
	}

	.apiCntent {
	    width: 100%;
	    max-width: unset;
	    padding: 0 0 30px 0;
	}

	.xpNetSecureAreaRow {
	    flex-direction: column;
	}

	.secCntent {
	    max-width: 100%;
	    padding: 30px;
	    FONT-WEIGHT: 500;
	}

	.secImg, .apiImg {
	    margin: 0;
	    width: 100%;
	}

	.roadMapContainRow {
	    flex-direction: column-reverse;
	    padding: 40px 40px 40px 40px;
	}

	.roadMapCntent {
	    margin: 0;
	    padding: 0 0 30px 0;
	    width: 100%;
	}

	.roadMapImg {
	    width: 100%;
	}

	.comunityLinks li i {
	    font-size: 26px;
	}

	.comunityLinks li a {
	    font-size: 16px;
	    padding: 8px 5px;
	}

	.comunityLinks li {
	    padding: 0 10px;
	}

	.footeLeftCol {
	    width: 100%;
	    margin-bottom: 30px;
	}

	.footeRightCol .widgetCol {
	    width: 50%;
	    min-width: unset;
	}

	.footBootmLinks {
	    flex-direction: column;
	    align-items: flex-start;
	    padding-right: 0;
	}

	.footBootmLinks ul {
	    padding-right: 0;
	}

	.footBootmLinks p {
	    margin: 0;
	}

	.footer_bottom .container {
	    padding: 0 15px;
	}

	.footBootmLinks ul li {
	    margin-right: 40px;
	}

	.cross_contetn,
	.addmoreChaBox,
	.nftsFlyBox,
	.roadMapContainRow,
	.apiContainRow {
	    padding: 30px;
	}

   
   .nftsFlyBoxImg {
		position: unset;
		width: auto;
		margin-right: -30px;
		margin-bottom: -30px;
		margin-left: -30px;
	}

	.secImg img {
		margin-right: 50px !important;
		top: unset;
		width: 116%;
		position: relative;
		right: 0;
		left: auto;
		transform: unset;
		flex-shrink: 0;
		bottom: -38px;
	}

	.apiContainRow {
		background: #373E5A;
	}

	.secImg {position: relative;display: flex;justify-content: center;}

	.xpNetSecureAreaRow {overflow: hidden;padding: 0;}


}/*(max-width: 767px)*/
       
@media only screen and (max-width: 575px) {

	.comunityLinks li {
	    display: flex;
	    justify-content: center;
	    margin: 10px 0;
	}

	.comunityLinks {
	    flex-wrap: wrap;
	}

	.secCntent {
	padding: 40px 10px 0 10px;
	margin-bottom: -8vw;
	}

	.banar_content h1 {
	    font-size: 28px;
	    line-height: 140%;
	}

	h2 {
	    font-size: 24px;
	}

	ul.chainList li {
	    width: 20%;
	}

	.addmoreChaBox p br,
	.apiCntent p br,
	 .secCntent p br,
	 .roadMapCntent p br {
	    display: none;
	}


	.comunityLinks li a {
	    font-size: 0;
	    padding: 0;
	}

	.comunityLinks li i {
	    font-size: 32px;
	    margin-right: 5px;
	}

	.comunityLinks li {
	    padding: 0 5px;
	}

	.comunityLinks {
	    justify-content: space-between;
	    margin: 27px 0 30px;
	    padding: 0 3px 0 40px;
	}

	section.ourComunityArea {
	    padding-bottom: 90px;
	    padding-top: 40px;
	}

	.alert_text p {
		text-align: left;
	}

	.alert_text p span {
		display: block;
	}

	.banar_content {
		padding-top: 55px;
		padding-bottom: 0;
		padding-left: 0;
	}

	.blackBtn {
		padding: 8px 12px;
	}

	.homeBanarImg {
		position: unset;
		transform: unset;
		width: 107%;
	}

	.banrMobImg {
		display: flex;
		justify-content: center;
		margin-top: 8px;
	}

	.cross_contetn {
		padding: 38px 10px 26px 10px;
	}

	.addmoreChaBox {
		padding: 40px 10px 30px 10px;
	}

	.chainList {
		max-width: 343px;
		margin-bottom: 4px;
		margin-top: 18px;
	}

	.crossIcons {
		width: 56px;
		height: 56px;
	}

	.apiContainRow {
		padding: 40px 10px 10px;
	}

	.apiCntent {
		padding: 0px 0px 25px;
	}

	.nftsFlyBoxImg {
		margin-right: -10px;
		margin-bottom: -43px;
		margin-left: -10px;
		margin-top: 14px;
	}

	.nftsFlyBox {
		padding: 40px 10px 43px;
	}

	.secImg img {
		margin-right: 7vw !important;
		margin-top: -21px;
	}

	.roadMapCntent {
		padding: 0;
	}

	.roadMapContainRow {
		padding: 40px 10px 50px 10px;
		margin-top: -12px;
	}

	.roadMapImg {
		padding: 40px 20px 10px 20px;
	}


}
    
@media only screen and (min-width: 320px) and (max-width: 425px) {
	
}    

@media only screen and (max-width: 4480px) {
	
}
      
@media only screen and (max-width: 375px) {

}
   
@media only screen and (max-width: 575px) {

	.main_menu_area {
	    padding: 23px 0 9px 3px;
	}

	.top_blueArea {
	    padding: 12px 0 8px 3px;
	}

	.banar_content p {
	    padding-right: 34px;
	    margin-bottom: 36px;
	}

	.crossChainCointen {
	    margin-top: -10px;
	}

	.container {
	    padding: 0 15px;
	}

	.cross_contetn .bt {
	    margin-bottom: 16px;
	}

	.cross_contetn h2 {
	    line-height: 140%;
	    margin-bottom: 22px;
	}

	.cross_contetn p {
	    padding-right: 10px;
	    font-size: 15px;
	    line-height: 180%;
	}

	.cross_contetn p br {
	    display: none;
	}

	.whiteBtn {
	    padding: 4px 10px;
	}

	section.crossChainArea {
	    margin-bottom: 23px;
	}

	.addmoreChaBox p {
	    padding-right: 32px;
	    margin-top: -5px;
	}

	.addmoreChaBox p br {
	    display: none;
	}

	.addmoreChaBox .blackTBtn {
	    margin-left: 0;
	}

	section.addMoreNFTs .row> div {
	    margin-bottom: 18px;
	}

	.nftsFlyBox p {
	    margin-top: -6px;
	}

	.apiCntent span.bt {
	    margin-bottom: 13px;
	}

	.apiCntent h2 {
	    margin-bottom: 15px;
	}

	.apiCntent p {
	    padding-right: 33px;
	    margin-bottom: 22px;
	}

	.xpNetSecureAreaRow {
	    margin-top: -10px;
	    padding-bottom: -15px;
	}

	.secCntent h2 {
	    margin-bottom: 14px;
	}

	.roadMapCntent p {
	    font-size: 15px;
	}

	.comunityTop p {
	    font-size: 18px;
	}

	section.ourComunityArea .container {
	    padding: 0 10px;
	}

	.comunityTop h2 {
	    margin-bottom: 8px;
	}

	.footer_area {
	    padding-top: 8px;
	}

	.footeLeftCol {
	    margin-bottom: 0;
	}

	.footNav> a {
	    margin-bottom: 12px;
	}

	.footeRightCol .widgetCol {
	    width: 44% !important;
	    flex-shrink: 0;
	    max-width: unset;
	}

	.widgetCol.footeRightCol1, .widgetCol.footeRightCo2, .widgetCol.footeRightCo3 {
	    display: contents;
	}

	.footeRightCol.row .quick_links {
	    width: 50% !important;
	    padding: 0 15px;
	    margin-bottom: 30px;
	}

	.mobiOnly.mobileContact {
	    margin-bottom: 30px;
	}

	.footBootmLinks p span {
	    display: block;
	}

	section.banar_area.home_banar {
		background: linear-gradient(180deg, #FAEFEC 50.03%, rgba(247, 233, 229, 0) 75.02%);
	}

	.quick_links h4 {
		font-size: 13px;
	}


}
